<h1>Congrats!</h1>
<h3>What do you have in common with a diva?</h3>
<h3><%= @name.capitalize %>, you and Beyonce will both be at Dodger Stadium on September 14th for her concert!</h3>

<h3>HAPPY BIRTHDAY</h3>