<h1>Correct! You're the female version of a huslter.</h1>
<img src="http://i2.irishmirror.ie/incoming/article7961984.ece/ALTERNATES/s615b/Beyonce-in-concert-on-the-Formation-World-Tour.jpg">
<h3>You've answered all the questions correctly. So, what do you have in common with a diva?</h3>
<p class='answer'><%= @name.capitalize %>, you and Beyonce will both be at Dodger Stadium on September 14th for her concert!</p>

<h3>HAPPY BIRTHDAY!!! - from Peter :)</h3>