<img src="https://img.s-hawaiianairlines.com/~/media/images/brand/hawaiianmiles/giftcardpurchase/giftcertificate_canoes.jpg?version=48ea&sc_lang=en?w=400" alt="">
<h1>Round Trip Flight to Hawaii</h1>
<div>To: <span>Tiffany</span></div>
<div>From: <span>Peter</span></div>
<div>Certificate # <%= @certificate %></div>
<div>PIN: <%= @pin %></div>