<h1>What do you have in common with a Diva?</h1>
<h3>Answer 3 questions correctly to find out</h3>
<form action="question-1" method="get">
  <label for="name">
    First, tell us your name
    <input type="text" name="name" placeholder="name">
  </label>
  <input type="submit" value="next">
</form>