<% if @show_hint %>
  <h1>Oops! Wrong answer :( Try again.</h1>
<% else %>
  <h1>Home run! Last question...</h1>
<% end %>
<h3>Question 3</h3>
<form action="answer" method="get">
  <label>
    England may have their queen, but who is THE queen?
  </label>
  <% if @show_hint %>
    <p>Hint: As true queen does, she has a hive.</p>
  <% end %>
  <input type="text" name="diva" placeholder="name">
  <input type="submit" value="next">

  <input type="hidden" name="name" value=<%= @name %>>
</form>