<% if @show_hint %>
  <h1>Oops! Wrong answer :( Try again.</h1>
<% else %>
  <h1>Thanks <%= @name.capitalize %>!</h1>
<% end %>
<h3>Question 1</h3>
<form action="question-2" method="get">
  <label>
    What month and day was the singer they "tried to get to go to rehab" born?
  </label>
  <% if @show_hint %>
    <p>Hint: They released a documentary about her life and music last year. It's title is her first name.</p>
  <% end %>
  <div class="input-container">
    <input class="inline-input" type="text" name="month" placeholder="month">
    <input class="inline-input" type="text" name="day" placeholder="day">
  </div>
  <input type="submit" value="next">

  <input type="hidden" name="name" value=<%= @name %>>
</form>