@import 'https://fonts.googleapis.com/css?family=Lato';

html {
  font-family: 'Lato', sans-serif;
  color: rgba(253,112,108,1.00);
  background-color: rgba(254,224,191,1.00);
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 40px;
}

input {
  display: block;
  border: 1px solid #eaeff8;
  border-radius: 5px;
  height: 30px;
  background-color: #EAF1F8;
  margin: 10px 0;
}

input[type="text"] {
  width: 300px;
  padding: 0 5px;
}

input[type="submit"], .button {
  margin-top: 30px;
  background-color: #FF5A5F;
  border-color: #FF5A5F;
  padding: 5px 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  display: block;
}

.button {
  width: 200px;
  margin: 20px auto;
}

input.inline-input {
  display: inline-block;
  width: 145px;
  margin-right: 10px;
}

p {
  color: #FF5A5F;
}

.answer {
  font-size: 26px;
  margin-bottom: 40px;
}

img {
  width: 500px;
  border-radius: 5px;
}

@media only screen and (max-width: 540px) {
  img {
      width: 300px;
  }
}

.radio-container {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.radio-container label {
  margin-left: 15px;
}

iframe {
  margin-top: 20px;
}

form {
  border: 3px solid #31B1EB;
  border-radius: 5px;
  padding: 20px;
  width: 520px;
  margin: 20px auto;
}

.palm-container {
  width: 800px;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

.palm-container.bottom {
  position: absolute;
  bottom: 15px;
}

.palm {
  animation: 1s infinite linear alternate tilt;
}

@keyframes tilt {
  from {
    transform: rotate(30deg)
  }

  to {
    transform: rotate(-30deg)
  }
}

.video {
  width: 520px;
}

span {
  color: #31B1EB;
}